.DS_Store
node_modules
.turbo
*.log
dist
dist-ssr
*.local
.env.keys
.env
.cache
server/dist
public/dist
.vscode
.zed
.pnpm-store
.wrangler

# Playwright simulation auth state
.auth-state.json
.dev.vars
TODO.md
zero.db*